// @import "./shared/fonts";
// Components
@import "./components/header";
// Pages
@import './index';
@import './portfolios';
@import './portfolio-detail';
@import './about';
@import './blogs';

.absolute {
    position: absolute;
}

a {
    text-decoration: none !important;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", "Helvetica";
}

.clickable {
    cursor: pointer;
}

.base-page {
    padding: 150px 0;
    color: black;
    background-color: #ecedee;
    min-height: 100vh;

    .page-header-title {
        font-weight: bold;
        display: inline-block;
        margin-bottom: 20px;
    }
}

.form-group {
    padding: 10px;
}


.background3d {
    color: green;
    box-sizing: border-box;
    background-color: black;

}

.self-typed {
    font-size: 31px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.avatar-box {
    img {
        height: 50px;
        border-radius: 50%;
    }

    .subtitle {
        font-size: 14px;
    }
}